<div class="container">
  <h1>Welcome to Anagrams!</h1>
  <form action='result' method="post">
    <h3> Enter a word </h3>
    <input type='text' name="word">
    <input type='submit'>
  </form>
</div>
